var format = function(text) {
  if (text) {
    var reg = getRegExp('\\n', 'g')
    return text.replace(reg, '\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;')
  }
}

var highlight = function(index) {
  if (index == 0) {
    return '#fffbdd'
  } else if (index == 1) {
    return '#eefbff'
  }
  return '#f2f2f2'
}

module.exports = {
  format: format,
  highlight: highlight
}
